* {
	box-sizing: border-box;
}

html {
	height: 100%;

	color: #333;
	font-family: monospace;

	overflow: hidden;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;

	overflow: hidden;
}
#app {
	max-width: 40rem;
	height: 100%;
	margin: 0 auto;
	padding-bottom: 4.5rem;

	overflow: auto;
}
img {
	max-width: 100%;
}
p, li {
	line-height: 1.5;
}
a {
	color: cornflowerblue;
}

input, button, .button, select,
input::file-selector-button {
	display: inline-block;
	padding: 0.5rem;
	border: 1px solid #eee;

	color: inherit;
	background-color: white;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	border-radius: 0.5rem;
}
.button,
input::file-selector-button {
	background-color: #fefefe;
}

.opacity-enter-active,
.opacity-leave-active {
	transition: opacity 0.5s;
}
.opacity-enter-from,
.opacity-leave-to {
	opacity: 0;
}
.opacity-enter-to,
.opacity-leave-from {
	opacity: 1;
}

.title {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.title__cancel {
	width: 2.5rem;
}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 15;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid #eee;

	background-color: rgba(0, 0, 0, 0.1);
}
.popup__box {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 40rem;
	max-height: 100%;
	padding: 3rem 1.5rem 1.5rem;
	margin: 0;
	border: 1px solid #eee;

	background-color: white;

	border-radius: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
.popup__bar {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 3rem;
	padding: 0 4.5rem 0 1.5rem;

	line-height: 3rem;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.popup__close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;

	display: block;
	width: 3rem;
	height: 3rem;
	padding: 0;
	border: none;

	background-color: #f88;

	border-radius: 0 0.5rem 0 0;
	cursor: pointer;

	transition: background-color 0.5s;
}
.popup .popup__close:hover {
	background-color: #f44;
}
.popup__close > span {
	position: absolute;
	left: 50%;
	top: 50%;

	display: block;
	width: 60%;
	height: 1px;

	background-color: white;
}
.popup__close > span:nth-of-type(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close > span:nth-of-type(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-enter-active,
.popup-leave-active {
	transition: opacity 0.5s;
}
.popup-enter-active .popup__box,
.popup-leave-active .popup__box {
	transition: top 0.5s;
}
.popup-enter-from,
.popup-leave-to {
	opacity: 0;
}
.popup-enter-to,
.popup-leave-from {
	opacity: 1;
}
.popup-enter-from .popup__box,
.popup-leave-to .popup__box {
	top: 3rem;
}
.popup-enter-to .popup__box,
.popup-leave-from .popup__box {
	top: 0;
}
.popup--message {
	z-index: 20;
}
.popup--message .popup__box {
	width: auto;
	padding: 1.5rem;

	cursor: pointer;
}
.popup--message .popup__box > :first-child {
	margin-top: 0;
}
.popup--message .popup__box > :last-child {
	margin-bottom: 0;
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.post {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 1px solid #eee;

	background-color: white;

	border-radius: 0.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
.post > :last-child {
	padding-bottom: 1.5rem;
	margin-bottom: 0;
}
.post > :not(.post__image) {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.post .post__user {
	flex-shrink: 0;

	position: relative;

	height: 3rem;
	padding-right: 4.5rem;

	background-color: white;

	line-height: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.post__visibility {
	display: inline-block;
	height: 1rem;

	vertical-align: middle;
	fill: currentcolor;
}
.post__follow {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;

	color: #888;
	background-color: transparent;

	transition: color 0.5s;
}
.post__follow > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}
.post__follow--following {
	color: gold;
}
.post__image {
	flex-shrink: 0;

	position: relative;

	display: block;
	width: 100%;
	margin: 0;
}
.post__image::before {
	content: "";

	display: block;
	padding-top: 75%;
}
.post__image img {
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 100%;
	height: 100%;

	object-fit: cover;
}
.post__stats {
	display: flex;
	align-items: center;
	gap: 1ch;
	margin: 1rem 0 0;
}
.post__like {
	display: inline-block;
	padding: 0;
	margin: 0;
	border: none;

	color: #888;
	background-color: transparent;

	transition: color 0.5s;
}
.post__like > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}
.post__like--liked {
	color: red;
}
.post__edit {
	display: inline-block;
	padding: 0;
	border: none;

	background-color: transparent;
}
.post__edit > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}
.post__delete {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 auto;
	border: none;

	color: red;
	background-color: transparent;
}
.post__delete > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}
.post__content {
	flex-shrink: 0;

	margin: 1rem 0 0;
}
.post__content > :first-child {
	margin-top: 0;
}
.post__content > :last-child {
	margin-bottom: 0;
}
.post__comment-outer {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem 0 0;

	overflow-y: auto;
}
.post__comments {
	flex-grow: 1;

	margin: 0;
}

.comments {
	padding: 0;
	margin: 0;

	list-style-type: none;
}
.comments__comment {
	display: flex;
	align-items: center;
}
.comments__comment:not(:first-of-type) {
	margin: 1rem 0 0;
}
.comments__delete {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 auto;
	border: none;

	color: red;
	background-color: transparent;
}
.comments__delete > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}

.single {
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 1;
	
	width: 100%;
	max-width: 40rem;
	height: calc(100% - 4.5rem);
	padding: 0;

	overflow: hidden;
	transform: translateX(-50%);
}
.single .single__user {
	position: sticky;
	top: 0;
	z-index: 1;
}
.single .single__close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;

	display: block;
	width: 3rem;
	height: 3rem;
	padding: 0;
	border: none;

	background-color: #f88;

	border-radius: 0 0.5rem 0 0;
	cursor: pointer;

	transition: background-color 0.5s;
}
.single .single__close:hover {
	background-color: #f44;
}
.single__close > span {
	position: absolute;
	left: 50%;
	top: 50%;

	display: block;
	width: 60%;
	height: 1px;

	background-color: white;
}
.single__close > span:nth-of-type(1) {
	transform: translate(-50%, -50%) rotate(45deg);
}
.single__close > span:nth-of-type(2) {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.single .single__image {
	position: sticky;
	top: 3rem;
}
.single .single__comment-outer {
	min-height: 10rem;
}
.single .single__comment-form {
	flex-shrink: 0;

	margin: 0;
}
.single .single__form {
	flex-shrink: 0;

	margin: 0;
	border: none;
}

.single-enter-active,
.single-leave-active {
	transition: top 0.5s;
}
.single-enter-from,
.single-leave-to {
	top: 100%;
}
.single-enter-to,
.single-leave-from {
	top: 0;
}

.form {
	padding: 1.5rem;
	margin: 2rem 0;
	border: 1px solid #eee;
	
	border-radius: 0.5rem;
}
.form > :first-child {
	margin-top: 0;
}
.form > :last-child {
	margin-bottom: 0;
}
.form--more {
	padding: 0;
	margin: 1.5rem 0 0;
	border: none;
}
.form__row {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 1rem 0;
}
.form--more .form__row {
	margin: 0;
}

.menu {
	position: fixed;
	left: 50%;
	top: calc(100% - 3rem);
	z-index: 10;

	width: 100%;
	max-width: 40rem;
	padding: 4rem 1.5rem 1.5rem;
	border: 1px solid #eee;

	background-color: white;
	border-radius: 0.5rem;

	transform: translate(-50%, 0);
	transition: transform 0.5s;
}
.menu--show {
	transform: translate(-50%, calc(-100% + 3rem));
}
.menu__inner {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.menu__toggle {
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 100%;
	height: 3rem;
	border: none;

	background-color: transparent;

	cursor: pointer;
}
.menu__form {
	padding: 0;
	margin: 0;
	border: none;
}
.menu__form + .menu__form {
	margin-top: 2rem;
}

.follows {
	padding: 0;

	list-style-type: none;
}
.follows__delete {
	display: inline-block;
	padding: 0;
	margin: 0 0 0 auto;
	border: none;

	color: red;
	background-color: transparent;
}
.follows__delete > svg {
	display: block;
	height: 1rem;

	fill: currentcolor;
}
